<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Add to your to do list today!</h1>
  <form action="/" method="post">

  <input type="text" name="todo" placeholder="Add a todo">
  <button type="submit" value="Submit">Add todo</button>



<button type="submit" value="Submit">Mark Complete</button><p>{{todos}}</p>
</form>

</body>
</html>
